@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .link {
        @apply py-2 px-4 ml-1 rounded cursor-pointer first-of-type:ml-0  text-gray-500 hover:bg-slate-200;
    }
    .router-link-exact-active{
        @apply font-bold text-gray-600
    }
}