@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {


    *::-webkit-scrollbar {
        width: 20px;
        height: 20px;
    }

    *::-webkit-scrollbar-track {
        @apply bg-zinc-600/50;
    }
    
    *::-webkit-scrollbar-thumb {
        border-radius: 3px;
        @apply bg-zinc-600/75;
    }
}